---
// src/pages/index.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ctaData, siteData } from "@/content/siteData";
import FrontPageHero from "@/layouts/FrontPageHero.astro";
import LocationsListSection from "@/layouts/LocationsListSection.astro";
import AreasOfPracticeSection from "@/layouts/AreasOfPracticeSection.astro";
import CTASection from "@/layouts/CTASection.astro";
import FAQSection from "@/layouts/FAQSection.astro";
import BuildingsHeroImage from "@/assets/buildings.jpg";
import { getServedStatesLabel } from "@/utils/servedStates";

const servedStatesLabel = await getServedStatesLabel();
---

<BaseLayout title="Home" description={siteData.description}>
  <FrontPageHero
    slot="hero"
    eyebrow="Trusted Counsel Since 1991"
    title="Forging Lasting Relationships Through Earned Trust"
    image={BuildingsHeroImage}
    description={`Here at Hymanson Law, we successfully guide clients in ${servedStatesLabel} in their estate planning, wealth and succession planning, estate and trust administration/litigation, real estate, commercial transactions and commercial litigation needs.`}
    primaryCTA={{
      text: ctaData.text,
      link: ctaData.link,
    }}
  >
    <Fragment slot="title">
      Forging Lasting<br />
      Relationships<br />
      Through <em>Earned</em><br />
      <em>Trust</em>
    </Fragment>
  </FrontPageHero>

  <main class="flex-1">
    <div class="mx-auto w-full px-6 sm:px-10 md:px-15 lg:px-20">
    <!-- <ContentRenderer query={query("about-us")} variant="AccordionVariant" /> -->

      <LocationsListSection />

      <AreasOfPracticeSection />

      <CTASection />

      <!-- Testimonials with rating filter -->
      <!-- <ContentRenderer
      query={query("testimonials").where((entry) => entry.data.rating >= 4)}
      variant="MasonryVariant"
      /> -->

      <FAQSection />

      <!-- Contact ContentRenderer -->
      <!-- <ContentRenderer
      query={query("contact-us")}
      variant="ContactVariant"
      columns={2}
      /> -->
    </div>
  </main>
</BaseLayout>
