---
// src/pages/index.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContentRenderer from "@/components/ContentRenderer/ContentRenderer.astro";
import { siteData } from "@/content/siteData";
import {
  query,
  sortByDate,
  sortByOrder,
} from "@/utils/query";
import FrontPageHero from "@/layouts/FrontPageHero.astro";
import LocationsListSection from "@/layouts/LocationsListSection.astro";
import AreasOfPracticeSection from "@/layouts/AreasOfPracticeSection.astro";
import CTASection from "@/layouts/CTASection.astro";
import FAQSection from "@/layouts/FAQSection.astro";
import BuildingsHeroImage from "@/assets/buildings.jpg";

const servedStates = await query("where-we-serve")
  .where((entry) => entry.id !== "_meta")
  .orderBy(sortByOrder())
  .all();
const servedStatesLabel = servedStates.map((state) => state.data.title).join(", ");
---

<BaseLayout title="Home" description={siteData.description}>
  <FrontPageHero
    slot="hero"
    title="Forging Lasting Relationships Through Earned Trust"
    image={BuildingsHeroImage}
    description={`We successfully guide clients in ${servedStatesLabel} in their estate planning, wealth and succession planning, estate and trust administration/litigation, real estate, commercial transactions and commercial litigation needs.`}
    primaryCTA={{
      text: "Get Started",
      link: "/contact-us",
    }}
  >
    <Fragment slot="title">
      Forging Lasting<br />
      Relationships<br />
      Through <em>Earned</em><br />
      <em>Trust</em>
    </Fragment>
  </FrontPageHero>

  <main class="flex-1">
    <div class="mx-auto w-full px-6 sm:px-10 md:px-15 lg:px-20">
    <!-- <ContentRenderer query={query("about-us")} variant="AccordionVariant" /> -->

      <LocationsListSection />

      <AreasOfPracticeSection />

      <CTASection />

      <!-- Testimonials with rating filter -->
      <!-- <ContentRenderer
      query={query("testimonials").where((entry) => entry.data.rating >= 4)}
      variant="MasonryVariant"
      /> -->

      <FAQSection />

      <!-- Contact ContentRenderer -->
      <!-- <ContentRenderer
      query={query("contact-us")}
      variant="ContactVariant"
      columns={2}
      /> -->
    </div>
  </main>
</BaseLayout>
